
@media (min-width: 340px) {

    html,
    body {
        font-size: 18px;
    }
}
@media (min-width: 440px) {

    html,
    body {
        font-size: 21px;
    }
}

@media (min-width: 640px) {

    html,
    body {
        font-size: 25px;
    }
}

@media (min-width: 840px) {
    html,
    body {
        font-size: 28px;
    }
 
}