@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

*{
	padding: 0;
	margin: 0;
	border: 0;
}  
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-family: 'Roboto Condensed', sans-serif;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	background-color: white;
}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited {text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

:root {
	--main-color:rgb(23, 206, 160);
	--btn-color:rgb(12, 130, 199);
	--main-gray: rgb(124, 124, 124);
	
}


h1{
	
	font-size: 2rem;
}

.d_n{
	display: none;
}

.d_b{
	display: block;
}

.d_g{
	display: grid;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

header, main, footer{
	position: relative;
    width: 100%;
	z-index: 1;
}
main{
	flex: 1 1 auto;
}
.header, .main, .footer, .footer__company{
    margin: 0 auto;
    width: 20rem;
	padding: .5rem;
}

input{
	
	width: 100%;
	font-size: 1.2rem;
	padding: .3rem 1rem;
	border-bottom: .1rem solid black;
}

/*Стилизация RADIO*/
.fake__radio, .fake__checkbox {
    display: inline-block;
    width: 3rem;
    height: 1.5rem;
    background-color: var(--main-gray);
	border-radius: 1rem;
    position: relative;
	top: -.1rem;
	cursor: pointer;
}

.fake__radio::before, .fake__checkbox::before {
    content: '';
    position: absolute;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
	border: .05rem solid var(--main-gray);
	border-radius: 1rem;
    background: rgb(255, 255, 255);
    top: 0;
    left: 0;
    transition: .2s;
}

.radio:checked + .fake__radio::before {
	left: 1.5rem;
	border: .05rem solid var(--main-color);
}
.radio:checked + .fake__radio{
	background-color: var(--main-color);
}

.checkbox:checked + .fake__checkbox::before {
	left: 1.5rem;
	border: .05rem solid var(--main-color);
}

.checkbox:checked + .fake__checkbox{
	background-color: var(--main-color);
}


